.header {
  width: 100%;
  background-color: #141415;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 99;
}

.dots {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 8px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 6px;
}

.red {
  background-color: rgb(210, 51, 51);
}

.yellow {
  background-color: rgb(240, 240, 18);
}

.green {
  background-color: rgb(31, 244, 31);
}

.tab-wrapper {
  width: 100%;
  margin-top: 34px;
  display: flex;
  background-color: #141415;
  border-top: 5px solid #202021;
  overflow-x: scroll;
  box-sizing: border-box;
}

.tab-wrapper::-webkit-scrollbar{
  display: none;
}

.tab {
  color: grey;
  padding: 10px 16px;
  border-right: 3px solid #202021;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.active{
  color: #fff;
}

.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(27, 109, 217);
  border-radius: 1.5px ;
  top: 0px;
  left: 0;
}

.title{
  font-size: 13px;
}
