.project {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
}

.project:nth-of-type(1) {
  animation-fill-mode: forwards;
  animation: bounce 0.5s linear;
}
.project:nth-of-type(3) {
  animation-fill-mode: forwards;
  animation: bounce 0.5s linear;
  margin-top: 40px;
}
.project:nth-of-type(2) {
  animation-fill-mode: forwards;
  animation: bounce-rev 0.5s linear;
  margin-top: 40px;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounce-rev {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
  font-size: 22px;
  color: #568956;
}

.iframe iframe {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.iframe {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc {
  margin: 4px 0;
}

.title-head {
  margin: 4px 0;
  color: rgb(240, 189, 93);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links img {
  height: 20px;
  width: 20px;
}
.web,
.git {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  color: rgb(225, 111, 111);
}

.stack-date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .project {
    width: calc(100% - 20px);
    margin:  10px;
    box-sizing: border-box;
  }
}
